
#heart,#echo{
 position: absolute;
 top: 100px; 
 left: 125px;
 height: 400px;
 width: 400px; 
 text-align:center;
 -webkit-transform: scale(0.95);
         transform: scale(0.95);
}

#heart{
 z-index: 8;
}

#echo{
 z-index: 7;
}

/*
 * 我说过, 这世上美好的事情不太多, 
 *
 * 立秋傍晚从河对岸吹来的风, 二十来岁笑起来要人命的你.
 *
 */

#heart::before,#echo::before{
 content: '';
 position: absolute;
 top: 60px;
 left: 135px;
 width: 100px;
 height: 160px;
 background: #c66c75;
 border-radius: 150px 150px 0 0;
 -webkit-transform: rotate(-45deg);
}

#heart::after,#echo::before{
 content: '';
 position: absolute;
 top: 60px;
 left: 178px;
 width: 100px;;
 height: 160px;
 background: #c66c75;
 border-radius: 150px 150px 0 0;
 -webkit-transform: rotate(45deg);
}

/*
 * 后来是发生了许许多多的故事, 多到我有感觉到渐渐的疏远.
 *
 * 但就像我跟你说的很气人的一句话, 人生百岁, 都是过客.
 *
 * 你走, 我不送你也不拦你.
 *
 * 你来, 风雨再大我也会去接你.
 *
 */

#heart::before{
box-shadow:
   inset 6px 6px 0px 6px rgba(255,255,255,0.1);
}

#heart::after{
box-shadow:
   inset -6px -6px 0px 6px rgba(255,255,255,0.1);
}

/*
 * 是啊, 我总是这么顽固.
 *
 * 我不是不想主动, 也不是没有信心.
 *
 * 但真的, 我懂你. 
 *
 */

#heart i::before{
 content: '小雪';
 position: absolute;
 z-index: 9;
 left: 180px;
 top: 125px;
 font-style: normal;
 color: rgba(255,255,255,0.8);
}

/*
 * 你问我这心动是什么感觉?
 *
 * 我想大概是这样...
 */

@-webkit-keyframes heartbeat {
  0%, 100% { 
    -webkit-transform: scale(0.95); 
            transform: scale(0.95); 
  }
  50% { 
    -webkit-transform: scale(1.00); 
            transform: scale(1.00); 
  }
}

@keyframes heartbeat {
  0%, 100% { transform: scale(0.95); }
  50%      { transform: scale(1.00); }
}

@-webkit-keyframes echo {
  0%   { 
    opacity: 0.1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% { 
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes echo {
  0%   { 
    opacity: 0.1;
    transform: scale(1);
  }
  100% { 
    opacity: 0;
    transform: scale(1.4);
  }
}


/* 
 * 我记得每次与你分别时时令与天气, 更记得每次见你时你在人群中的亭亭而立.
 */

#heart, #echo {
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-timing-function: 
    cubic-bezier(0, 0, 0, 1.74);
          animation-timing-function: 
            cubic-bezier(0, 0, 0, 1.74);
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#heart { 
  -webkit-animation-name: heartbeat; 
          animation-name: heartbeat; 
}
#echo { 
  -webkit-animation-name: echo; 
          animation-name: echo; 
}

#heart, #echo {

/* 
 * 心是总在动的...
 * 3...
 * 2..
 * 1.
 *        
 */
  
  -webkit-animation-play-state: running;
          animation-play-state: running;
  
/* 
 * 不过春风再起的时候, 它应该会跳的更快吧...
 *        
 */
  
}




